.shortcut-text {
    float: right;
    color: rgba($color: #000000, $alpha: 0.4);
    padding-left: 68px;
}

.slide-collapsied-btn {
    position: absolute;
    overflow: hidden;
    background: #fff;
    border-left: 1px solid #f3f3f3;
    cursor: move;
    right: 0;
    top: 0;
    bottom: 0;
    width: 8px;
    z-index: 999;
    &:hover {
        background-color: #f9f9f9;
    }
    &::after {
        content: '=';
        display: block;
        position: absolute;
        top: 45%;
        left: 1px;
        transform:rotate(90deg);
        text-align: center;
    }
}