$logoColor: #0084ff;
$fontColor: #8590a6;

.shortcut-text {
    float: right;
    color: rgba($color: #000000, $alpha: 0.4);
    padding-left: 68px;
}

.slide-collapsied-btn {
    position: absolute;
    overflow: hidden;
    background: #fff;
    border-left: 1px solid #f3f3f3;
    border-right: 1px solid #f3f3f3;
    cursor: move;
    right: 0;
    top: 0;
    bottom: 0;
    width: 8px;
    z-index: 1;
    &:hover {
        background-color: #f9f9f9;
    }
    &::after {
        content: '=';
        display: block;
        position: absolute;
        top: 45%;
        left: 0;
        transform:rotate(90deg);
        text-align: center;
    }
}

.action {
    position: relative;
    background: #fff;
    margin: 0;
    .action-tabs {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        .ant-tabs-bar {
            position: absolute !important;
            bottom: 0px !important;
            left: 0;
            right: 0;
        }
    }
    .ant-tabs-tab {
        border-radius: none;
    }
    .ant-tabs-extra-content {
        float: left !important;
        background: #f3f3f3;
        padding: 0 2px;
    }
    .ant-tabs-bottom-content {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 40px;
        width: auto !important;
        .ant-tabs-tabpane {
            height: 100%;
        }
    }
    .action-container {
        height: 100%;
        overflow: scroll;
    }
}

// 虚线样式
.dom-subline {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 999;
    width: 100px;
    height: 100px;
    border: 1px dotted rgba($color: #000000, $alpha: 0.4);
}

[id*=drawing] {
    svg {
        position: relative;
        min-width: 2000px !important;
        min-height: 1800px !important;
        background: #f3f3f3 !important;
        background-image: linear-gradient(white 2px,transparent 0),linear-gradient(90deg, white 2px,transparent 0),linear-gradient(hsla(0,0%,100%,.3) 1px,transparent 0),linear-gradient(90deg,hsla(0,0%,100%,.3) 1px,transparent 0) !important;
        background-size: 75px 75px,75px 75px,15px 15px,15px 15px !important;
    }
    .choicebox {
        position: absolute;
        z-index: 999;
        background: red;
        opacity: 0.3;
        border:1px solid; 
        border-color: #29b6f2 !important; 
        background:rgba(41,182,242,0.5) !important; 
    }
}